#category_parent {
    position: relative;
}

#category_parent:hover ul {
    display: block;
}

#category_parent a {
    cursor: pointer;
}

#category_child {
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    z-index: 99;
    padding: 10px;
    display: none;
    columns: 5;
}

#category_child li a {
    display: block;
    width: auto;
    min-width: 100px;
    padding: 10px;
}

#category_child li a:hover {
    background-color: black;
    transition: 0.25s;
    color: white;
}